@font-face {
    font-family: 'countnumber';
    src: url('fonts/countnumber.eot');
    src: url('fonts/countnumber.eot?#iefix') format('embedded-opentype'),
		 url('fonts/countnumber.woff2') format('woff2'),
         url('fonts/countnumber.woff') format('woff'),
         url('fonts/countnumber.ttf') format('truetype'),
         url('fonts/countnumber.svg#countnumber') format('svg');
    font-weight: bold;
    font-style: normal;
}